<body>
<div class="container">
  
  <div class="btn-group-vertical">
    
    <button routerLink="/show" type="button" class="btn btn-primary">Show</button><br/>
    <button routerLink="/register" type="button" class="btn btn-primary">Register</button>
   </div>
</div>
</body>
<router-outlet></router-outlet>
