<body>
    <p> Register Employee Detail</p>
<tr>    
<p>
    <label >First Name: </label>
    <input type="text" class = "form-control" value="fname" [(ngModel)]="Modals.FirstName" />
</p>
<p>
     <label >Last Name: </label>
     <input type="text" class = "form-control" value="lname"  [(ngModel)]="Modals.LastName" />
 </p>
<p>
    <label >Address: </label>
    <input type="text" class = "form-control" value="address" [(ngModel)]="Modals.Address"  />
</p>
<p>
    <label >Mobile No: </label>
    <input type="text" class = "form-control" value="mobileNo" [(ngModel)]="Modals.MobileNo" />
</p>

    Gender: 
    <input type="radio" value="Male" checked [(ngModel)]="Modals.Gender"  />Male
    <input type="radio"   value="Female" [(ngModel)]="Modals.Gender" />Female
    <input type="radio"  value="Other" [(ngModel)]="Modals.Gender" />Other
<p>
   <label >Profile Pic</label>
   <img [src]="imageUrl"  style="width:250px;height:200px">
   <input type="file" #Image accept="image/*"  (change)="handleFileInput($event.target.files)">
  
</p>
<!-- <label >Profile Pic</label>
<button [ladda]="ValidateModel.laddaFlag"
                class="{{ValidateModel.disablebutton === null  ? 'btn btn-green btn-lg ladda-button mb5' : 'btn btn-white btn-lg mb5 ladda-button'}}"
                [disabled]="ValidateModel.disablebutton === null ? null : 'disabled'"
                (click)="submitWritePost('submit',false )" type="button">Submit</button> -->
<p>
    <label >Status </label>
     <select name = "Status" [(ngModel)]="Modals.Status">
         <option value = "Software Developer">Software Developer</option>
         <option value = "Full Stack Developer">Full Stack Developer</option>
         <option value = "Tester">Tester</option>
         <option value = "Hr">Hr</option>
         <option value = "Manager">Manager</option>
         <option value = "Marketing executive">Marketing executive</option>
     </select>
</p>
<p>
    <button type="submit" class="btn btn-primary "  (click)="submitButton()" > Submit</button>
</p>
</tr>   



</body>