<div>
<table datatable class="table row-border hover" style="width: 75%;">
<thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th>MobileNo</th>
        <th>gender</th>
        <th>CreadtedDate</th>
        <th>ProfilePath</th>
        <th>Status</th>
        <TH>Update</TH>
        <th>Delete</th>
    </tr>
</thead> 
<tbody>
        <tr *ngFor="let show of shows">
            <td>{{show.id}}</td>
            <td>{{show.firstName}}</td>
            <td>{{show.lastName}}</td>
            <td>{{show.address}}</td>
            <td>{{show.mobileNo}}</td>
            <td>{{show.gender}}</td>
            <td>{{show.createdDate}}</td>
            <td>{{show.profilePath}}</td>
            <td>{{show.status}}</td>
            <td><button type="button" class="btn btn-primary"  (click)="openUpdate(template,show)" >Update</button></td>
            <td><button type="button" class="btn btn-primary"  (click)="deleteDetails(template1,show.id)">Delete</button></td>
        </tr>
</tbody>
</table>
</div>

<ng-template #template>
    <div class="modal -header">
        <h4 class="modal-title pull-left"> Update Data</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p> Update Employee Detail</p>
<tr>    
<p>
    <label >First Name: </label>
    <input type="text" class = "form-control" value="fname" [(ngModel)]="Modals.FirstName" />
</p>
<p>
     <label >Last Name: </label>
     <input type="text" class = "form-control" value="lname"  [(ngModel)]="Modals.LastName" />
 </p>
<p>
    <label >Address: </label>
    <input type="text" class = "form-control" value="address" [(ngModel)]="Modals.Address"  />
</p>
<p>
    <label >Mobile No: </label>
    <input type="text" class = "form-control" value="mobileNo" [(ngModel)]="Modals.MobileNo" />
</p>

    Gender: 
            <input type="radio" value="Male" checked [(ngModel)]="Modals.Gender"  />Male
            <input type="radio"   value="Female" [(ngModel)]="Modals.Gender" />Female
            <input type="radio"  value="Other" [(ngModel)]="Modals.Gender" />Other
<p>
   <label >Profile Pic</label>
  
</p>
<p>
    <label >Status </label>
     <select name = "Status" [(ngModel)]="Modals.Status">
         <option value = "Software Developer">Software Developer</option>
         <option value = "Full Stack Developer">Full Stack Developer</option>
         <option value = "Tester">Tester</option>
         <option value = "Hr">Hr</option>
         <option value = "Manager">Manager</option>
         <option value = "Marketing executive">Marketing executive</option>
     </select>
</p>
<p>
    <button type="submit" class="btn btn-primary " (click)="submitButton()"> Submit</button>
</p>
</tr>   
    </div>

</ng-template>
<pre class="card card-block card-header">{{message}}</pre>
<ng-template #template1>
<div class="modal-body text-center">
        <p>Do yo want to delete?</p>
    <table>
        <tr>
            <td><button type="button" class="button" (click)="confirm(deleteId)">Yes</button></td>
            <td><button type="button" class="button"  (click)="decline()">No</button></td>
        </tr>
    </table>
</div>

</ng-template>