.button {
    background-color: rgb(17, 75, 163); /* Green */
    border: none;
    color: white;
    padding: 1px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }